<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="csrf-token" content="<%= csrfToken %>"/>
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Index page</title>
   <link rel="stylesheet" href="/css/styles.css" />
   
   <style>
    .od{
      display: flex;
      justify-content: space-around;
    }
    .od1{
      display: flex;
      /* justify-content: space-between; */
      justify-content: space-around;
      
      padding-right: 350px;
    }
    
    #addedtasks{
            /* display: grid; */
            /* align-items: center;
            justify-content: center; */
            /* flex-direction: column; */
            width:90%;
            color: black; 
            background-color: #C1E3FF;
    }
    .tasks{
          color: black;
          width:100%; 
          height:5%;
          display: grid;
          justify-items: center;
          word-break: keep-all;
          grid-template-columns: 1fr 1fr 1fr;
          border:solid 1px black;
          padding-top: 10px;
          padding-bottom: 10px;
          align-items: center;
          /* padding-left: 20px;
          padding-right: 20px; */
          flex-direction: row;
          justify-content: space-evenly;
        }
        body{
          /* background-color: navy;
          color: white; */
          font-family: sans-serif;
          background-color: navy;
          color: white;
          padding: 4%;
          /* background: #FFFFFF; */
        }
        .Todo-Item:hover .trash-icon{
          background-color: navy;
          display: block;
        }
        .ttt{
          background-color: #C1E3FF;
        }
        .card {
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
        /* transition: 0.3s; */
        text-align: center;
        background-color: #C1E3FF;
        border-radius: 2px;
        color: navy;
        padding: 5px;
        /* width: 20px; */
        margin: 5px;
      }
      .gri{
        width:70%;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    
 </style>
 </head>
 <body>
  
  <div align="center">
    <div class="gri" align="center">
      <%- include('header.ejs') %>
      <p class="py-2">Welcome to the TO-DO Manager</p>
      <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-UP now</a></p>
      <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-IN</a></p>
  </div>
</div>
 </body>
</html>